.para{
    width:350px;
    height:200px;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    background-color:#39CFB8;
    text-align:center;
    margin-top:10px;
}
@keyframes beat {
    0%, 100% { transform: scale(1); }
    50%      { transform: scale(1.2); }
  }

  .text-beat {
    display: inline-block;
    animation: beat 1s infinite;
  }